* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    :root {
      --text-color: #edf3ff;
      --subheading-color: #97a7ca;
      --placeholder-color: #c3cdde;
      --primary-color: #101623;
      --secondary-color: #283045;
      --secondary-hover-color: #1956e6;
      --scrollbar-color: #626a7f;
    }

    body.light-theme {
      --text-color: #090c13;
      --subheading-color: #7b8cae;
      --placeholder-color: #606982;
      --primary-color: #f3f7ff;
      --secondary-color: #e6ecff;
      --secondary-hover-color: #d1d8f2;
      --scrollbar-color: #a2aac2;
    }

    body {
      color: var(--text-color);
      background: var(--primary-color);
    }

    .container {
      overflow-y: auto;
      padding: 32px 0 60px;
      height: calc(100vh - 127px);
      scrollbar-color: var(--scrollbar-color) transparent;
    }

    .container :where(.app-header, .suggestions, .message, .prompt-wrapper, .disclaimer-text) {
      margin: 0 auto;
      width: 100%;
      padding: 0 20px;
      max-width: 980px;
    }

    .app-header {
      margin: 4vh;
    }

    .heading {
      font-size: 3rem;
      width: fit-content;
      background: linear-gradient(to right, #1d7efd, #8f6fff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Pacifico', cursive;
      letter-spacing: 2px;
    }

    .sub-heading {
      font-size: 2.6rem;
      margin-top: -5px;
      color: var(--subheading-color);
    }

    .suggestions {
      display: flex;
      gap: 15px;
      margin-top: 9.5vh;
      list-style: none;
      overflow-x: auto;
      scrollbar-width: none;
    }

    body.chats-active .container :where(.app-header, .suggestions) {
      display: none;
    }

    .suggestions-item {
      width: 240px;
      padding: 30px;
      flex-shrink: 0;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      border-radius: 50px;
      background: var(--secondary-color);
    }

    .suggestions-item:hover {
      background: var(--secondary-hover-color);
    }

    .suggestions-item .text {
      font-size: 1.1rem;
    }

    .suggestions-item span {
      height: 45px;
      width: 45px;
      margin-top: 35px;
      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #1d7efd;
      background: var(--primary-color);
    }

    .suggestions-item:nth-child(2) span {
      color: #28a745;
    }

    .suggestions-item:nth-child(3) span {
      color: #ffc107;
    }

    .suggestions-item:nth-child(4) span {
      color: #6f42c1;
    }

    .chats-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .message {
      display: flex;
      gap: 11px;
      align-items: center;
    }

    .bot-message .avatar {
      height: 43px;
      width: 43px;
      flex-shrink: 0;
      padding: 6px;
      align-self: flex-start;
      margin-right: -7px;
      border-radius: 50%;
      background: var(--secondary-color);
      border: 1px solid var(--secondary-hover-color);
    }

    .bot-message.loading .avatar {
      animation: rotate 3s linear infinite;
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .message .message-text {
      padding: 3px 16px;
      word-wrap: break-word;
      white-space: pre-line;
    }

    .bot-message {
      margin: 9px auto;
    }

    .user-message {
      flex-direction: column;
      align-items: flex-end;
    }

    .user-message .message-text {
      padding: 12px 16px;
      max-width: 75%;
      border-radius: 13px 13px 3px 13px;
      background: var(--secondary-color);
    }

    .prompt-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 0;
      background: var(--primary-color);
    }

    .prompt-wrapper,
    .prompt-form,
    .prompt-actions {
      display: flex;
      gap: 12px;
      height: 56px;
      align-items: center;
    }

    .prompt-form {
      width: 100%;
      height: 100%;
      border-radius: 130px;
      background: var(--secondary-color);
    }

    .prompt-input {
      height: 75%;
      width: 75%;
      background: none;
      outline: none;
      border: none;
      font-size: 1rem;
      padding-left: 24px;
      color: var(--text-color);
    }

    .prompt-input::placeholder {
      color: var(--placeholder-color);
    }

    .prompt-wrapper button {
      width: 56px;
      height: 100%;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      font-size: 1.4rem;
      flex-shrink: 0;
      color: var(--text-color);
      background: var(--secondary-color);
      transition: 0.3s ease;
    }

    .prompt-wrapper button:hover {
      background: var(--secondary-hover-color);
    }

    .prompt-actions {
      gap: 5px;
      margin-right: 7px;
    }

    .prompt-actions button {
      position: relative;
      height: 45px;
      width: 45px;
    }

    #send-prompt-btn {
      color: #fff;
      display: none;
      background: #1d7efd;
    }

    .prompt-input:valid ~ .prompt-actions #send-prompt-btn {
      display: block;
    }

    #send-prompt-btn:hover {
      background: #0264e3;
    }

    #stop-response-btn:hover {
      color: red;
    }

    .disclaimer-text {
      text-align: center;
      font-size: 0.9rem;
      padding: 16px 20px 0;
      color: var(--placeholder-color);
    }

    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

    @media (max-width: 768px) {
      .prompt-wrapper.hide-controls :where(#theme-toggle-btn, #delete-chats-btn) {
        display: none;
      }
    }